.MuiStepLabel-label.Mui-active {
  color: #800000;
  font-weight: 600;
}

.MuiStepIcon-root.Mui-active,
.MuiStepIcon-root.Mui-completed {
  color: #800000;
}
.MuiRating-iconEmpty {
  color: rgba(245, 180, 0, 0.2);
}
